
label{
  text-decoration: underline;
  font-weight: bold;
  text-transform: uppercase;

  color: black;
}
.btn  {
  display: block;
  margin: auto;
  background-color: orangered;
  font-weight: bold;
  color: black;
}
body{
  justify-content: center;

}
