

<div class="container-fluid">

  <div class="card-deck" style="margin-top: 75px;" >
    <div class="card" style="">
      <img class="card-img-top" src="assets/PEINTURE.jpg" height="250px;">
      <div class="card-body">
        <h4 class="card-title">PEINTURE</h4>
        <p class="card-text"> </p>
        <ul>

          <li>Peinture en exterieur </li>
          <li>Peinture en intérieur</li>
          <li>Décoration séjour/salon</li>
          <li>Décoration chambre de bébé </li>
        </ul>

      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/brico.jpg" height="250px;">
      <div class="card-body">
        <h4 class="card-title">BRICOLAGE</h4>
        <p class="card-text"></p>
        <ul>
          <li>Rénovations appartement et maison</li>
          <li>Montage plan de travail </li>
          <li>Montage de cuisine équipée </li>
          <li>Montage de meubles</li>
        </ul>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/parquet2.jpg" height="250px;">
      <div class="card-body">
        <h4 class="card-title">SOL</h4>
        <p class="card-text"></p>
        <ul>
          <li>Pose de parquets (stratifié, flottant, massif)</li>
          <li>Pose de lino</li>

        </ul>
      </div>

    </div>
  </div>
</div>
