<div class="container-fluid ">
  <div class="presentation">
    <div class="row">
      <div class="col">
        <h1 style="font-size: 3em; margin-top: 30px; color: orangered;text-transform: uppercase;text-align: center;margin-left: auto;margin-right: auto"><strong>Entreprise Dieng Travaux et Rénovations</strong></h1>
        <p style="margin-top: 80px;color:black;font-size:x-large;font-weight: bold ;font-family: Cambria;justify-content: center; text-align: center"> Entreprise spécialisée dans les travaux de rénovation d'intérieur et tous vos petits travaux.<br><br>
          Nous mettons à votre disposition notre savoir faire et notre expertise afin de mener à bien tous
          travaux que vous voudrez bien nous confier. Nous nous tenons à votre disposition pour ramener
          sérénité et paisibilité dans votre quotidien.<br><br> Notre équipe vous souhaite une bonne visite sur notre site.<br>


        </p>
        <div class="row-contact" style="margin-top: 50px">


        <div class="col">
          <h1 class="devis"><strong><span class="move"><span class="free">!!! DEVIS ET DEPLACEMENTS GRATUITS !!!</span></span></strong></h1>
        </div>
        <div class="col">
          <h1 style="font-weight: bold; margin-top: 20px" class="devis"><span class="move"><span class="free"> <img src="./assets/settings_phone-black-18dp.svg" alt="" style="height: 30px;">   07.67.51.62.11</span></span></h1>
        </div>
        <div class="slog1">
          <h1 style="font-weight: bold; margin-top: 20px" class="devis"><span class="move"><span class="free"> <img src="./assets/alternate_email-black-18dp.svg" alt="" style="height: 30px;">   entreprisedieng@gmail.com</span></span></h1>
        </div>

        </div>

      </div>
    </div>
  </div>
</div>
