<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 ">
      <div class="slider">
        <div class="slide" id="slide-1"><img src="../../assets/lastRea/sejour.jpg" alt="" style="height: 500px"></div>
        <div class="slide" id="slide-2" style="margin-left: 15px"><img src="../../assets/lastRea/chbre1.jpg" alt=""  style="height: 500px"></div>
        <div class="slide" id="slide-3" style="margin-left: 15px"><img src="../../assets/lastRea/dgmnt.jpg" alt=""  style="height: 500px"></div>
        <div class="slide" id="slide-4" style="margin-left: 15px"><img src="../../assets/lastRea/plafond.jpg" alt=""  style="height: 500px"></div>
        <div class="slide" id="slide-5" style="margin-left: 15px"><img src="../../assets/lastRea/plaf.jpg" alt=""  style="height: 500px"></div>
        <div class="slide" id="slide-6"style="margin-left: 15px"><img src="../../assets/lastRea/plfnd2.jpg" alt=""  style="height: 500px"></div>


      </div>

    </div>
  </div>
</div>
